@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #c04305;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(36, 35, 34);
    border-radius: 12px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgba(235, 155, 130, 0.911);
    border-radius: 12px;
}